@use '../utils/colors';
$btn-border: #EB5757;

.media-details{
  width: 100%;
  padding: 20px;
  padding-bottom: 110px;
}

.md__container{
  width: 100%;
  max-width: 600px;
  padding: 50px 20px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: -1;
  }

  img{
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
  }

  .details{
    text-align: center;
  }
}

.md__container::before{
  
}

.basic-info{
  color: colors.$white;
  margin-bottom: 30px;

  h2{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.6rem;
    margin-bottom: 10px
  }
  h3{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 5px;
  }
  span{
    color: colors.$dark-red-secondary;
    font-size: 1.3rem;
    font-weight: 400; 
    line-height: 2rem;
  }
}

.details p{
  color: colors.$white;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 30px;
}

.details .buttons{
  width: 100%;
  display: flex;
  justify-content: center;

  button{
    width: 140px;
    height: 60px;
    border: 2px solid $btn-border;
    border-radius: 30px;
    margin: 0 10px;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
  }

  .play{
    color: colors.$white;
    background-color: colors.$principal-red;
  }
  .follow{
    color: $btn-border;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .media-details{
    padding-bottom: 50px;
  }
  .md__container{
    max-width: 890px;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 250px;

    img{
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    .details{
      height: 100%;
      margin: 0;
      margin-left: 30px;
      text-align: left;
      position: relative;

      p{
        font-size: 1.2rem;
      }
    }
    .buttons{
      justify-content: flex-start;
      
      button{
        width: 117px;
        height: 31px;
        font-size: 1.4rem;
      }
    }
  }

  .basic-info{
    margin-bottom: 0;

    h2{
      font-size: 2.2rem;
      margin-bottom: 0;
    }

    .stats{
      display: flex;
      align-items: center;
      h3{
        margin-right: 30px;
        font-size: 1rem;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .media-details{
    padding: 0 40px;
  }
}