@use '../utils/colors';

.playing{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: colors.$principal-red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .music{
    display: flex;
    justify-content: space-between;
    color: colors.$white;

    img{
      width: 70px;
      height: 70px;
      margin-right: 5px;
    }

    .info{
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3{
        width: 100%; 
        font-size: 2rem;
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      span{
        width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .rep-options{
    svg:not(:root).svg-inline--fa{
      color: colors.$white;
      font-size: 2rem;
      margin: 0 15px;
    }
  }

  .volume-controller{
    display: none;
  }
}

@media screen and (min-width: 400px) {
  .playing .music .info{
    width: auto;
  }
}
@media screen and (min-width: 580px) {
  .playing{
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .music{
      width: 100%;
      justify-content: flex-start;
      justify-self: start;
      overflow: hidden;
      
      .info{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .rep-options{
      justify-self: center;
    }
    
    .volume-controller{
      justify-self: end;
      margin-right: 10px;
      display: flex;
      align-items: center;

      input{
        margin-right: 10px;
        // background-image:linear-gradient(to right, #02C38A  calc($value*1%), black 0);
        
      }
      svg:not(:root).svg-inline--fa{
        width: 30px;
        font-size: 2rem;
        color: colors.$white;
      }
    }
  }
}